.btn-icon {
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: var(--border-radius-base);
}

.btn-icon:hover {
  background-color: var(--color-gray-light);
}

.btn-primary {
  height: 32px;
  min-width: 90px;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-base);
  border: none;
}
