.input-group {
  margin-bottom: var(--spacing-md);
}

.input-group label {
  display: block;
  margin-bottom: var(--spacing-sm);
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
}

.input {
  width: 100%;
  padding: var(--spacing-sm);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-gray);
  border-radius: var(--border-radius-base);
  font-size: inherit;
}
