.navbar {
  padding: var(--spacing-md) var(--spacing-sm);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray-light);
}

.navbar ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  padding-right: var(--spacing-md);
  text-decoration: none;
}
