.navbar {
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray-light);
}

.navbar ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  display: inline-block;
  margin-right: var(--spacing-md);
  text-decoration: none;
  color: var(--color-gray);
  font-weight: var(--font-weight-bold);
}

.navbar ul li a.active {
  color: var(--color-dark);
}
