.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mt-lg {
  margin-top: var(--spacing-lg);
}

.mr-sm {
  margin-right: var(--spacing-sm);
}

.mb-md {
  margin-bottom: var(--spacing-md);
}

.hidden {
  visibility: hidden;
  transition: all 0.2s ease-out;
  opacity: 0;
}
