@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff)
    format("woff2");
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v2/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF;
}

:root {
  --color-dark: #333;
  --color-gray-light: #e3e1e1;
  --color-gray: #bab6b6;
  --font-family-base: Inter, sans-serif;
  --font-size-base: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: var(--color-dark);
  font-size: var(--font-size-base);
}

h2 {
  font-size: inherit;
}

.container {
  padding: 0.5rem;
}

.navbar {
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray-light);
}

.navbar ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  display: inline-block;
  margin-right: var(--spacing-md);
  text-decoration: none;
  color: var(--color-gray);
  font-weight: var(--font-weight-bold);
}

.navbar ul li a.active {
  color: var(--color-dark);
}
